@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

.body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    background-color: #5a5a5a;
    margin: 0 auto;
}
.header {
    font-family: 'Montserrat', Arial, sans-serif;
    display: inline-block;
    margin: 0 auto;
    color:azure;
    text-align: center;
    animation: fadeOut infinite; 
    animation-duration: 4s;
}

.result__block{
    max-width: 80vw;
    margin: 30px auto;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 23px;
    color:azure;
    word-wrap: break-word;
}
.result {
    max-width: 100vw;
}
.form {
    max-width: 100vw;
}
.form__fieldset {
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border-radius: 5px;
    padding: 0;
    border: 1px solid black;
}
.input__text {
    margin: 0 auto;
    max-width: 80vw;
    font-size: 24px;
}
.buttons {
    margin: auto;
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 190px;
    margin: 5px;
    font-size: 24px;
}
.button:hover {
    background: #858586;
    transition: 0.2s;
    transform: scale(1.02);
} 



